<!DOCTYPE html>
<html>
<head>
  <title>AllClear - Issue Tracking App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="contentWrapper">
<div class="sidebar">
 <logo> AllClear </logo>
 <% if user_signed_in? %>
 <div class="avatar">

 </div>
 <p>  Welcome <%= current_user.username %>,  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
 <% else %>
          <%= link_to "Sign up", new_user_path %> or <%= link_to "Sign in", new_user_session_path %>
 <% end %></p>
 </div>
 <div class="content">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
</div>
</div>
</body>
</html>
